.btn{
    width: 50%;
    height: 1em;
    padding: 1em;
    margin: 1em;
    font-size: 18px;
    color: grey;
    border-radius: 10px;
    border: none;
    background-color: rgb(210, 234, 227);
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(120, 194, 173);
    color:white;
}